{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<div class="container" style="max-width: 500px; align-self: center;">
<div class="card my-4">
    <h5 class="card-header">Password Reset</h5>
    <div class="card-body">
        <form method="POST">{% csrf_token %}
            <fieldset class="form-group">
                {{ form | crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="Request Password Reset">Request Password Reset</button>
            </div>
        </form>
    </div>
</div>
</div>
{% endblock %}